.select .main{
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 100px;
}

.itmes {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
}

.item.selected {
    background-color: darkslateblue;
    color: white;
}

